/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fredoka:wght@300&family=Playfair+Display:wght@664&family=Roboto+Slab:wght@100..900&family=Ubuntu:wght@700&display=swap');

/* FONT USAGE */

/* playfair Batang */
.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 664;
    font-style: normal;
  }
  

/* ubuntu 2 */
.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

/* Roboto */
.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .fredoka {
    font-family: "Fredoka", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
  }
