footer{
    width: 100%;
    height: 10%;
    bottom: 0px;
    position: absolute;
    background-color: #201E43;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    display: flex;
}

footer .left {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 10px;
}
footer .left i{
    font-size: 29px;
}
footer .left p{
   display: block;
   padding: 10px;

}

footer .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
        
}
footer .right .up, footer .right .down{
display: flex;
align-items: center;
padding: 0 10px;
        
}
footer .right .up i,footer .right .down i{
    padding-right: 10px;
}

@media (max-width: 480px) {

    footer {
        position: relative; 
        height: auto;
        padding: 10px 0;
      }

    footer .left {
        padding: 10px; 
    }

    footer .left .icon {
        font-size: 20px; 
    }

    footer .left .text {
        font-size: 10px; 
    }

    footer .right {
        display: flex;
        flex-direction: column; 
        align-items: flex-end; 
    }

    footer .right .up,
    footer .right .down {
        display: flex;
        align-items: center;
        padding: 0 10px; 
    }

    footer .right .up i,
    footer .right .down i {
        padding-right: 5px; 
    }

    footer .right .icon {
        font-size: 15px; 
    }

    footer .right .text {
        font-size: 10px; 
    }
}
