footer{
    width: 100%;
    height: 50px;
    bottom: 0px;
    position: absolute;
    background-color: #201E43;
    color: white;
    display: flex;
    justify-content: center; /* Yatayda ortala */
    align-items: center; /* Dikeyde ortala */
    display: flex;
}

footer .left {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 10px;
}
footer .left i{
    font-size: 29px;
}
footer .left p{
   display: block;
   padding: 10px;

}

footer .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
        
}
footer .right .up, footer .right .down{
display: flex;
align-items: center;
padding: 0 10px;
        
}
footer .right .up i,footer .right .down i{
    padding-right: 10px;
}
