nav{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: white;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
   
}

nav a{
    padding: 0 15px ;
    font-size: 28px;
    font-family: "Dancing Script", cursive;
    transition:all 1s;
}
nav a:hover{
    padding: 10px;
    font-size: 33px;
    border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
  
    nav{
        height: 90px;
        font-size: 1.8rem;
        position: fixed;
        top: 0px;
        z-index: 10;
    }
}