.projects {
    display: flex;
    width: 100%;
    height: calc(100vh - 110px);
    justify-content: center;
    align-items: center;
}

.projects .wrapper {
    display: flex;
    flex-direction: column; /* Satır yönünü dikey yap */
    height: 85%;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
    background-color: white;
    max-width: 1000px;
}

.projects .wrapper .up {
    width: 100%;
    height: 25%;
    background-color: aliceblue;
    display: flex;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.projects .wrapper .up .photo {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.projects .wrapper .up .photo img {
    width: 35%;
    border-radius: 50%;
    transition: all 0.5s;

}
.projects .wrapper .up .photo img:hover{
    overflow: hidden;
    cursor: pointer;
    transform: scale(1.1);
}

.projects .wrapper .up .profilecontent {
    flex: 8;
    display: flex;
}

.projects .wrapper .up .profilecontent .text {
    background-color: aliceblue;
    flex: 9;
    padding: 8px;
}

.projects .wrapper .up .profilecontent .text h3 {
    font-family: "Roboto Slab", serif;
    margin-bottom: 8px;
}

.projects .wrapper .up .profilecontent .icon {
    flex: 2.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#githubicon {
    width: 50%;
}

.projects .wrapper .down {
    width: 100%;
    height: 100%;

    margin-top: 18px; 
    display: flex;
}
.projects .wrapper .down .left{
  flex: 4;
  background-color: aliceblue;
   display: flex;
   flex-direction: column; 
   height: 100%;
   position: relative;
   justify-content: center;
   align-items: center;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
   border-radius: 15px;
   margin-left: 10px;
}
#githubinfo {

    height: 40%; /* Yüksekliğin %40'ını kapsar */
    width: 84%;
    display: flex;
    position: absolute;
    top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#githubinfo h3{
    font-family: "Gowun Batang", serif;
}

#githubvideo {
    padding: 10px;
    width: 90%;
    position: absolute;
    display: flex;
    bottom: 10px;
    align-items: center; 
}



.projects .wrapper .down .right{
    flex: 8;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    
  }
  .projects .wrapper .down .right .post {
    border-radius: 15px;
    height: 33.3%;
    width: 100%;
    background-color: aliceblue;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
    display: flex;
    
  }
  
  .projects .wrapper .down .right .post:last-child {
    display: flex;
    bottom: 0px;
    margin-bottom: 0; 
  }
  
  .projects .wrapper .down .right .post :first-child{
    display: flex;
  }
 .post .postleft{
    padding: 10px;
    flex: 4;
    background-color: rgb(183, 202, 219);
    height: 100%;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    text-align: center;
   align-items: center;
   font-size: 17px;
   font-family: "Roboto Slab", serif;
   
 }
 .post .postright{
    padding: 10px;
    flex: 8;

    height: 100%;
    border-radius: 0 10px 10px 0;
    font-family: "Playwrite DE Grund", cursive;
    font-size: 12px;
 }


 .post .postright a {
    display: inline-block; 
    text-decoration: none; 
    color: white; 
    background-color: #6cbbef;
    padding: 3px 5px; 
    border-radius: 5px; 
    font-size: 10px; 
    font-weight: bold; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    margin-top: 15px; 
    width: 100%; 
    text-align: center; 
  }
  
  .post .postright a:hover {
    background-color: #2980b9; 
    transform: translateY(-2px); 
  }
  
  .post .postright a:active {
    transform: translateY(0px); 
  }
  
  .post .postright a:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7); 
  }
  
  /* scroll animation  */
  .projects .wrapper .up{
    opacity: 0;
    transition: all 1s;
    transform: translateY(-20px);
}
.projects .wrapper .up.active{
  opacity: 1;
  transform: translateY(0px);
}

.projects .wrapper .down .left{
  opacity: 0;
  transition: all 1s;
  transform: translateX(-20px);
}
.projects .wrapper .down .left.active{
  opacity: 1;
  transform: translateX(0px);
}


.projects .wrapper .down .right {
  opacity: 0;
  transition: all 0.5s;
  transform: translateX(20px);
}

.projects .wrapper .down .right.active {
  opacity: 1;
  transform: translateX(0px);
}

/* Post öğeleri için sırayla görünme efekti */
.projects .wrapper .down .right .post {
  opacity: 0; 
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(20px);
}

.projects .wrapper .down .right.active .post {
  opacity: 1; 
  transform: translateX(0);
}

.projects .wrapper .down .right.active .post:nth-child(1) {
  transition-delay: 0s; 
}

.projects .wrapper .down .right.active .post:nth-child(2) {
  transition-delay: 0.3s; /
}

.projects .wrapper .down .right.active .post:nth-child(3) {
  transition-delay: 0.6s; 
}



